main {
  display: flex;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;

  width: 70px;
  height: 100vh;

  background-color: var(--bg-menu-lateral);
  transition: all ease-in-out .3s;

  .sideMenu {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
}

aside.active {
  width: 25%;
  max-width: 250px;

  .sideMenu {
    padding-left: 20px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
}

@media (max-width: 576px) {
  aside.active {
    width: 55%!important;
    padding-right: 50px;
  }

  section {
    width: 100%!important;
  }

}

section {
  padding-left: 50px;
  width: 100%;
}

.sideMenu {
  padding-left: 20px;

  h4 {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  
  h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text-color);
  }
}

.menuItem:hover {
  cursor: pointer;
  h5 {
    color: var(--main-color);
  }
  svg {
    path {
      fill: var(--main-color);
    }
    rect {
      fill: var(--main-color);
    }
  }
}

/* Toggle Menu */

.toggleMenu {
  position: relative;
  cursor: pointer;
  top: 30px;
  left: -50px;

  color: var(--main-color);

  background-color: transparent;
  border: none;
}

/* SVG's */

svg:hover {
  path {
    fill: var(--main-color);
  }
}

/* Hidden */

.hidden {
  display: none!important;
}

/* Preloader */

.preloader {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: all ease-in-out 3s;
}

.preloader span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}


/* SearchBar */

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -15px;

  input{
    height: 40px;
    width: 350px!important;

    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    padding-right: 10px;
    outline: none;
    background: #fafafa;
    color: #B3B3B3;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    transition: .3s ease;

    &:focus {
      background: #F2F2F2;
      border: 1px solid #FF5171;
      border-radius: 3px;

      
    }
    &::placeholder {
      color: #B3B3B3;
    }
  }

  svg {
    position: relative;
    right: 30px;
    cursor: pointer;
  }

}

.searchBarMobile {
  margin-top: -3px!important;
  
  svg {
    right: 0px;
  }
}

.topBar {
  display: flex;
  align-items: center;
}

.topMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 20px;
}

svg {
  cursor: pointer;
}

/* Profile */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  h6 {
    color: #161E54;
    font-size: 1rem;
  }

  svg {
    &:hover {
      path {
        fill: none;
      }
    }
  }
}

.hasNotification {
  background-color: var(--main-color);
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  right: -13px;
  border-radius: 50%;
  top: 8px;
}

/* Divider */

.divider {
  height: 1px;
  background-color: #e0e0e0;

  width: 99%;
  margin-top: 20px;
}