:root {
  font-family: "Poppins", sans-serif;  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Variáveis de Cor */

  --main-color: #FF5151;

  --bg-menu-lateral: #686868;

  --card-posicao: rgba(255, 81, 81, 0.3);
  --card-vaga: rgba(55, 134, 241, 0.3);
  --card-novos-funcionarios: rgba(253, 235, 249, 1);
  
}
